
<div class="row ccc">

  <div>
    <label for="username">昵称</label>
    <input type="text" id="username" placeholder="昵称" class="form-control">
  </div>
  <div>
    <label for="">评级</label>
    <img src="./assets/img/star-open.png" alt="">
  </div>
  <div>
    <label for="">评论</label>
    <br>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div>
    <button class="btn btn-success pull-right">
      <i class="glyphicon glyphicon-pencil"></i> 
      发表评论
    </button>
  </div>

</div>