
  <div class="form-group">
    <label for="bookname">书名</label>
    <input type="text" [(ngModel)]="param.bookName"  class="form-control input-sm" id="bookname" placeholder="书名">
  </div>
  <div class="form-group">
    <label for="price">价格</label>
    <input type="text" [(ngModel)]="param.price" class="form-control input-sm" id="price" placeholder="价格">
  </div>
  <div class="form-group">
    <label for="type">类别</label>
    <select name="" class="form-control input-sm" id="type" [(ngModel)]="param.type">
      <option value="计算机">计算机</option>
      <option value="哲学">哲学</option>
      <option value="你懂得">你懂得</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" (click)="doSearch()" >
      <i class="glyphicon glyphicon-search"></i>
      查询
    </button>
  </div>

